<p>JSON - комментарии </p>
<router-outlet></router-outlet>
<app-comment-form (emitComment)="addMainComment($event)"></app-comment-form>
<div>
  <app-comment *ngFor="let comment of mainComments"
               [comment]="comment"
               [child]="comment.child"
                (emitNewChild)="getNewChild($event)"
               (emitNewChildId)="getChildId($event)"
               (emitCommentId)="deleteComment($event)"
               (emitUpdateCommentId)="udateCommentText($event)"
               (emitUpdateCommentCommentText)="udateCommentObj($event)"
               (emitCommentingNewComment)="saveNewComment($event)"
               (emitCommentingCommentId)="newCommentId($event)"
  >

  </app-comment>
</div>

