.main{
  margin-top: 50px;
  color: tomato;
  font-size: 40px;
  box-sizing: border-box;
  //overflow: auto;
}
.child{
  margin-top: 10px;
  list-style: none;
  color: blue;
  font-size: 40px;
  line-height: normal;
  box-sizing: border-box;
}
