<section class="comment">
  <div class="comment__main main">
    <p class="main__text">Первый комментарий</p>
    <div class="main__btns btns">
      <button mat-raised-button color="primary">редактировать</button>
      <button mat-raised-button color="accent">комментировать</button>
      <button mat-raised-button color="warn">удалить</button>
    </div>
  </div>
  <ul class="comment__child child">
    <li class="child__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ratione.</li>
    <div class="child__btns btns">
      <button mat-raised-button color="primary">редактировать</button>
      <button mat-raised-button color="accent">комментировать</button>
      <button mat-raised-button color="warn">удалить</button>
    </div>
  </ul>
</section>
